@media only screen and (max-width: 1399.98px) {
 .banner .container {
    padding: 250px 12px;
    min-height: 100vh;
 }

 .banner-title {
    font-size: 60px;
    margin-bottom: 20px;

 }

 .banner-subtitle {
    font-size: 44px;
    margin-bottom: 16px;
}

.banner-description {
   font-size: 22px;
   margin: 0 0 28px;
}

.tariff {
   padding: 90px 0 120px;
}

.tariff-title {
   margin-bottom: 72px;
   font-size: 42px;
}

.tariff-row {
   gap: 28px;
 }
}

