@media only screen and (max-width: 991.9px) {
    .banner {
        text-align: center;
    }

    .banner .container {
        padding: 220px 12px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: center calc(100% + 1px);
        background-size: contain;
     }
    
     .banner-title {
        font-size: 52px;
     }
    
     .banner-subtitle {
        font-size: 36px;
     }
    
    .banner-description {
        font-size: 22px;
        margin: 0 auto 28px;
    }

    .banner-link,
     input {
        font-size: 20px;
        padding: 22px 80px;
    }

    .tariff {
        padding: 72px 0 93px;
        background: #F5F9FF;
     }     

     .tariff-title {
        margin-bottom: 36px;
        font-size: 30px;
     } 
     
     .tariff-title span:after,
     .tariff-title span:before {
        width: 22px;
        height: 4px;
        top: 0;
        left: -19px;
     }

     .tariff-title span:before {
        top: initial;
        left: inherit;
        bottom: 0;
        right: -19px;
     }

    .tariff-row {
        flex-direction: column;
        max-width: 440px;
        padding: 0 26px;
        margin: 0 auto;
        gap: 30px;
    }

    .tariff-advantages {
        margin: 0 auto 22px;
    }

    .tariff-advantages-item {
        font-size: 14px;
        margin-bottom: 12px;
        padding-left: 30px;
    }

      .tariff-advantages-item:before {
        width: 16px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    
      .tariff-price {
        font-size: 35px;
      }
  
      .tariff-price span:after {
        font-size: 25px;
        right: -20px;
      }  

    .tariff-buy {
        padding: 19px 24px;
    }

    .svg-icon_arrow {
    width: 44px;
    height: 24px;
    }
}
